*.pyc
__pycache__
.project
.settings
*.swp

/deploy_media.xml
/package.json
/scripts/
/nbproject/
/blender_source/MH_Community/kinect_sensor/KinectToJSON_x64.dll
/blender_source/MH_Community/kinect_sensor/KinectToJSON_x86.dll